@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>



@code {
    private int currentCount = 0;

    //I can use this to alter how much it is incremented when calling the component in other places
    [Parameter]
    public int IncrementAmount {get;set;} = 1;

    private void IncrementCount()
    {
        currentCount += IncrementAmount;
    }
}
