@page "/"

<h1>This is a test in which i have changed information</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@* IncrementAmount is the public parameter in the Counter component *@
<Counter IncrementAmount="10"/>